
.Bento_NIRGraph,
.Bento_NIRGraph_Calculator,
.Bento_NIRGraph_Second_Calculator {
background-color: #f4f4f4;
border-radius: 15px;
padding: 20px;
margin: 10px;
opacity: 0; 
transition: opacity 0.5s ease-in-out; /* 0.5s animation */
transform: scale(1.05); /* 初期状態で5%拡大 */
transition: transform 0.3s ease-in-out; 
}

.Bento_NIRGraph:hover,
.Bento_NIRGraph_Calculator:hover,
.Bento_NIRGraph_Second_Calculator:hover {
transform: scale(1);
transition: transform 0.3s ease-in-out; /* 0.3秒で縮小 */
}


.Bento_NIRGraph_Calculator{
    width: 145px;
    height: 40px;
    }

.Bento_NIRGraph_Second_Calculator{
width: 145px;
height: 40px;
}

.Calculator-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    }


    .show-element {
        opacity: 1;
        transform: translateY(0);
        transition: 
          opacity 0.5s ease-in-out 0.5s,  /* 0.5秒遅延 */
          transform 0.3s ease-in-out 0.5s;  /* 0.5秒遅延 */
      }
      
      .show-calculator {
        opacity: 1;
        transform: translateY(0);
        transition: 
          opacity 0.5s ease-in-out 1s,  /* 1秒遅延 */
          transform 0.3s ease-in-out 1s;  /* 1秒遅延 */
      }
      
      .show-second_calculator {
        opacity: 1;
        transform: translateY(0);
        transition: 
          opacity 0.5s ease-in-out 1.5s,  /* 1.5秒遅延 */
          transform 0.3s ease-in-out 1.5s;  /* 1.5秒遅延 */
      }



.NIRGraph {
    width: 350px;  /* 例: 幅を400pxに設定 */
    height: 200px; 
    }
