.calculator-container {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color:  rgb(221, 221, 221);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.8);
    border-radius: 14px;
    gap: 12px;
}

.molarity-header {
    font-size: 12px;
    margin-bottom: 6px;
    font-weight: lighter;
}

.input-group-set {
    width:90%;
    display: flex;
    
    justify-content: space-between;
    gap: 6px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.Calculator-Input{
    border-radius: 10px;
    width:20px;
}

input, label {
    font-size: 9px;
}

.input-group, .result-group {
    margin: 20px 0;
}

.input-group input[type="number"] {
    width: 70px;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.result-group {
    margin-top: 10px;
}

.result-group div {
    font-size: 9px;
    margin-top: 3px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.455);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.calculator-modal-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80vw;
    max-height: 80vh;
    overflow: auto;
}

.close-button {
    color:white;
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.concentration-results h4{
    font-size: 8px;
    margin-bottom: 0px;
}

.concentration-results p{
    font-size: 8px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* 新しいスタイル */
.calculator-unique-button {
    font-weight: bold;
    color: white;
    border-radius: 2rem;
    width: 95.02px;
    height: 42.66px;
    border: none;
    background-color: #3653F8;
    display: flex;
    justify-content: center;
    align-items: center;
}
