/* GraphComponent.module.css */
.Graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* これを追加 */
    width: 100%;
    height: 400px;
    /* 画面の高さ全体を使用 */

}

.Graph-left-side {
    width: 30%;
    /* 60%の幅に設定 */
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.Graph-right-side {
    width: 65%;
    /* 40%の幅に設定 */
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.NIRGraph {
    max-width: 100%;
    max-height: 300px;
    height: auto;
}

.title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0px;
    font-weight: 800;
}


.Modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    z-index: 1000;

}

.ModalBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}



.concentration-inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.input-group {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}


.input-group-set input {
    width: 90px;
    border: 1px solid;
    border-color: rgb(200, 200, 200);
    border-radius: 10px;
    padding: 5px;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}


.Molar-Title {
    color: black;
    margin: 0;
    font-size: 12px;
}

.Molar-Label {
    color: black;
    font-weight: 600;

}

.Molar-Label p {
    font-size: 5px;
    transform: scale(0.9);
}

.Molar-Component-Wrapper {
    width: 95%;
    height: 500px;
}


.CloseIcon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    font-weight: bold;
    transform: scale(0.7);
}



.S3 {
    font-family: inherit;
    font-size: 20px;
    background: #212121;
    color: white;
    fill: rgb(155, 153, 153);
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 15px;
    font-weight: 1000;
    transform: scale(0.7);
}


.S3 span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}


.S3 svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}


.S3:hover {
    background: #000;
}


.S3:hover .svg-wrapper {
    transform: scale(1.25);
    transition: .5s linear;
}


.S3:hover svg {
    transform: translateX(2em) scale(1.1);
    fill: #fff;
}

.S3:hover span {
    opacity: 0;
    transition: .5s linear;
}

.S3:active {
    transform: scale(0.95);
}



.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.5em 0.8em 1.2em;
    color: white;
    background: #ad5389;
    background: linear-gradient(0deg, rgba(77, 54, 208, 1) 0%, rgba(132, 116, 254, 1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #4d36d0be;
    letter-spacing: 0.05em;
    border-radius: 20em;
    transform: scale(0.65);
}



.cssbuttons-io-button svg {
    margin-right: 8px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #4d36d0be;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #4d36d0be;
}



.open_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
    transform: scale(0.65);
}

.open_button:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

.open_button:active {
    box-shadow: none;
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0;
    text-align: center;
}