.NIRGraph {
    width: 80%;
    height: 40%;
}

.SecondDerivative{
    margin-top: 20px;
}

.second-derivative-graph {
    max-width: 100%;  /* 画像の最大幅を親要素の幅に合わせる */
    height: auto;  /* 高さは自動的に調整 */
}

.Second-Title{
    color:black;
}

.Main-Wrapper {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* 左側のコンテナ */
.Second-Title-Button-Container {
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 右側のコンテナ */
.Graph-Container {
    flex-basis: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* グラフのスタイル */
.second-derivative-graph {
    width: 100%;
    height: auto;
}