/* CSSファイルまたは<style>タグ内 */
.plot-container .xtitle,
.plot-container .ytitle {
    font-weight: bold !important;
}


/* 全体css */
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Plotly-Title {
    font-size: 20px;
    margin-bottom: 20px;
}

.content-wrapper h2 {
    margin-bottom: 0px;
}






/* アニメーション */
.container-slide-up {
    animation: slide-up 5s ease-out forwards;
}

.graph-fade-in {
    animation: fade-in 2.5s ease-in forwards;
    max-width: 90%;
    width: 90%;
    /* グラフの幅をコンテナの幅に合わせる */
    height: 100%;
    /* グラフの高さをコンテナの高さに合わせる */

}


@keyframes slide-up {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-1px);
    }
}







@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}